html
    head
        title Dashboard - Secret Society
        link(rel='stylesheet' href='styles/dashboard.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    body
        div.sidebar.outer
            div.inner
                p.main-text Secret Society
                ul
                    li How It Works
                    li Tour
                    li.create Register
                    li.create Login
                    li.create Create Society
        div.main-content
            div.inner-content
                h1 Secret Society
                br
                div.row
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3 
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description
                    div.col-md-3
                        img(src='images/ss-white.png')
                        h3 Society
                        p Description