doctype html
html
    head
        title Secret Society
        link(href="styles/styles.css" type="text/css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.outer
            div.inner
                a(href='https://github.com/asm-products/secret-society/tree/master')
                    img(class="logo" src="images/ss-white.png")
                    div(class='header') secret society
                    div(class='subheader') coming soon