html
    head
        title Secret Society
        link(rel='stylesheet' href='styles/styles.css')
    body
        div.outer
            div.inner
                h1 Secret Society
                br
                input(type='email' class='signup-box' placeholder='Your email...')
                input(id='submit' type='submit' value='Get Notified')
