@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

.outer {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.logo {
    width: 200px;
    height: auto;
    opacity: 1;
}

.header {
    letter-spacing: 2px;
}

.subheader {
    font-size: 14px;
    color: #AAA;
}