@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300);

body {
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #FFF;
}

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -150px;
    opacity: 1;
}

.header {
    width: 500px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: 90px;
    letter-spacing: 2px;
}

.subheader {
    width: 500px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: 114px;
    font-size: 14px;
    color: #AAA;
}
